.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: var(--light);
  z-index: 1000;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  pointer-events: auto;
}

.navbar.hidden {
  top: -50px; /* Ajuste conforme a altura da sua navbar */
  opacity: 0;
  pointer-events: none;
}

.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  color: var(--dark);
  transition: var(--transition);
}

.navbar-nav .nav-link:hover {
  color: var(--primary);
}

.navbar-toggler {
  border: none;
}
